vpt_venv/ 
"__pycache__/" 
"*.pyc" 
/.idea
/resources/stimuli_exploration
/rotating_figure_task/stimuli
__pycache__
/venv
/datasets
/logs
/venv_win
/visual_perspective_taking.egg-info
/rotating_figure_task/standing_stimuli
/rotating_figure_task/plots
/rotating_figure_task/stimuli_1000
/rotating_figure_task/stimuli_5000
/rotating_figure_task/stimuli_500
/rotating_figure_task/batch
.env
batch_id.txt
/rotating_figure_task/batch_experiment_file.csv
/director_task/logs
/rotating_figure_task/image_exploration
/datasets
/resources/De Lillo and Ferguson
human_baseline.py
/plots
.mypy_cache
.RData
.Rhistory
/paper
/director_task/human_task
/rotating_figure_task/human_task
/.claude
CLAUDE.md
/director_task/images
/rotating_figure_task/stimuli_parameters.xlsx
